<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/api/auth/login" method="POST">
        <input type="text" id="email" name = "email">
        <input type="text" id="password" name="password">
        <button type="submit">LogIN</button>
    </form>
</body>
</html>